@media screen and (min-width: 576px) and (max-width: 992px){
    .navbar-brand img {
        width: 80px;
    }

    .main-box__title h1 {
        font-size: 34px;
        line-height: 48px;
    }

    .main-box__title p {
    display: none
    }

    .main-image__chiller img {
        width: 355px;
        height: 355px;
    }

    .main-image__refrigerator {
        max-width: 370px;
    }

    .standarts__container {
        flex-direction: column;
    }

    .standarts__image img {
        max-width: 375px;
    }

    .standarts__text-box {
        padding-top: 50px;
        padding-left: 50px;
    }

    h3 {
        font-size: 18px;
        line-height: 40px;
    }

    h2 {
        font-size: 20px;
        line-height: 40px;
    }

    .character__list {
        flex-direction: column;
    }

    .search-btn__title h2 {
        text-align: center;
    }



}

@media screen and (max-width: 575px) {
    .main-box__title h1 {
        font-size: 34px;
        line-height: 48px;
        text-align: center;
    }

    .main-container {
        margin-bottom: 0;
    }

    .main-image__chiller img {
        width: 355px;
        height: 355px;
    }

    .main-image__chiller:before {
        content: "";
        display: block;
        position: absolute;
        width: 227px;
        height: 7px;
        background: #EDEFF3;
        /*justify-items: center;*/
    }

    .main-image__refrigerator {
        max-width: 370px;
        max-height: 230px;
    }

    .standarts__container {
        flex-direction: column;
    }

    .standarts__image img {
        max-width: 375px;
    }

    h3 {
        font-size: 18px;
        line-height: 40px;
    }

    h2 {
        font-size: 20px;
        line-height: 40px;
    }

    .character__list {
        flex-direction: column;
    }

    .search-btn__title h2 {
        text-align: center;
    }

    .footer__top-contant {
        flex-direction: column;
        gap: 20px;
    }

    .footer__bottom {
        flex-direction: column;
    }

    .footer_links__box {
        flex-direction: column;
    }
}
